<div class="page-header">
	<h1>All labels </h1>
</div>

<table class="table">
	<tbody>
		<% @labels.each do |label| %>
			<tr>
				<td><%= label_tag :label, label.name, class: label.colour %></td>
				<td><%= link_to "Edit label", label_path(label) %></td>
				<td>
					<%= link_to "Delete", label_path(label),
						method: :delete,
						confirm: "Are you sure?"
					%>
				</td>
			</tr>
		<% end %>
	</tbody>

</table>

<%= link_to "Create Label", new_label_path, class: "btn", type: "button" %>