<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
      <th>Title</th>
      <th>Description</th>
      <th>Manager</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
	</thead>
		
	<tbody>
		<% @projects.each do |project| %>
		<tr>
			<td><%= link_to "#{project.name}", project_path(project) %></td>
			<td><%= link_to "#{objective.description}", objective_path(objective) %></td>
			<td><span class="badge badge-success">OK</span></td>
			<td>Edit</td>
			<td><%= link_to "Delete", objective_path(objective), :method => "delete", :confirm => "Are you sure?" %></td>
		</tr>	
		<% end %>
	</tbody>

</table>

<%= link_to "Create new objective", new_objective_path, :class => "btn", :type => "button" %>